<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <p class="govuk-body">
            Your details were invalid.
          </p>
  
        </div>
  
      </div>
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <a class="govuk-button button-spacing govuk-!-margin-top-7 govuk-!-margin-bottom-7" href="/interaction/<%= grant %>">Try again</a>
          </p>
        </div>
  
      </div>
  
    </main>
  </div>