<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-xl">You cannot access the service from this page</h1>
          <p class="govuk-body">
            To access this service, you must return to the government page you came from and start again.
          </p>
          <p class="govuk-body">
              You can also start again from the GOV.UK home page.
          </p>
          <p class="govuk-body">
              You might need your Government Gateway user ID and password.
          </p>
          <p class="govuk-body">
              Make sure your web browser can accept cookies.
          </p>
          <button class="govuk-button" data-module="govuk-button">
              Go to GOV.UK home page
            </button>
        </div>
  
      </div>
  
    </main>
  </div>