<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
  
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7 background-colour-success-override">
            <h1 class="govuk-panel__title" id="successful-heading">
              Your Government Gateway user ID is:
            </h1>
            <div class="govuk-panel__body success-panel" id="gov-gateway-user-id">
              <%= newId %>
            </div>
  
          </div>
  
          <p class="govuk-body">We have sent it to <b> <%= account.email %></b></p>
  
          <p class="govuk-body">
            You will need this user ID and your password every time you sign in to Government Gateway.
          </p>
  
        </div>
  
      </div>
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <a class="govuk-button button-spacing govuk-!-margin-top-7 govuk-!-margin-bottom-7" href="/interaction/<%= grant %>" id="continue-from-sign-up-btn">Continue</a>
          </p>
          <p class="govuk-body govuk-!-font-weight-regular">
            <a class="govuk-link" href="#" target="_self">Get help</a>
          </p>
        </div>
  
      </div>
  
    </main>
  </div>